* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.comp2 {
  background-image: url(./image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* 
--------Language bar----------
*/

.container-Select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 40px;
}

.Elm-Sel2,
.Elm-Sel1 {
  border: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  width: 119px;
  height: 100%;
  text-align: center;
  font-size: 19px;
}

.echange-bar {
  height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Change {
  border-radius: 40px;
  width: 100%;
  height: 80%;
  font-size: 30px;
  color: #3c0fcd;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 
--------Search bar----------
*/

.Search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.Search-bar .search-message {
  display: flex;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;

}

.box {
  width: 53%;
  background-color: #ffffff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-content: center;
  height: 55px;
  align-items: center;
  gap: 0 5px;
  padding: 0 1rem;
}

.search {
  height: 100%;
  border: none;
  font-size: 23px;
  outline: none;
  width: 100%;
  margin-left: 10px;
}

.Bs {
  fill: #4319cf;
  font-size: 1.5rem;
}

.Search-btn {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Close {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.Gr {
  font-size: 1.4rem;
  display: none;
}

.show {
  display: block;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*----------------------------------------------------------*/

.comp2 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.comp1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  width: 100%;
}

/*
--------------LOGO--------------
*/

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

#title {
  color: #ffffff;
  font-size: 25px;
}

#title2 {
  color: #9dc8fa;
  font-size: 25px;
}

#logomg {
  width: 40px;
}

/*
--------------Hisfav---------------
*/

.hisfav {
  display: flex;
  justify-content: center;
  gap: 35px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history,
.favoris {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family: Georgia, serif;
}

.bib {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #0073f1;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 5px;
}

.gob {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #0073f1;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 10px;
}

#text-hisfav {
  color: #ffffff;
  font-size: 1.5rem;
}

#text {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ligne {
  background-color: #d9f0ff;
  border-radius: 30px;
  height: 6px;
  width: 150px;
  margin: auto;
}

.divShadow {
  width: clamp(350px, 45%, 720px);
  height: 80%;
  background-color: #ffffff;
  top: 20vh;
  left: 27%;
  border-radius: 15px;

}


.lignediv {
  height: 70px;
  width: 100%;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.2);
  display: flex;
  place-items: center;
}

.return {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0073f1;
  margin-left: 15px;
}

.mdk {
  color: #ffffff;
  font-size: 30px;
}

.wiki {
  font-size: 20px;
}


.cardparent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  top: 0px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}


.word-def-con {
  overflow-y: scroll;
  height: 420px;
  padding: 1.25rem;

}

.traduction {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 1rem;
  font-size: 20px;
}

.traduction h3 {
  font-weight: 500;
  color: hsl(209, 23%, 60%);

}


.word-def-con h2 {
  font-weight: 500;
  color: hsl(209, 23%, 60%);
  margin-bottom: 1rem;
}

.ligne-wiki {
  width: 100%;
  height: 2px;
  background-color: #d2d8dd;
  margin: 1rem 0rem;
}

.sitelang {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

}

.sitelan_sel {
  padding: 0.25rem;
  background-color: transparent;
}

.sitelan_sel :focus {
  padding: 0.25rem;
  background-color: transparent;
  border: transparent;
}

select:focus {
  outline: 0;
}

.sitelan_sel option {
  background-color: transparent;
}