/* 
.box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 15px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  height: 50px;
  align-items: center;
  gap: 0 5px;
  padding: 0 0.5rem;
  margin-bottom:2rem ;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.Search-cont{
  margin-bottom: 0.1rem;
}

.search {
  height: 100%;
  border: none;
  font-size: 20px;
  outline: none;
  width: 100%;
  margin-left: 14px;
  letter-spacing: 1px;
  font-size: 1rem;
}

.Bs {
  fill: #4319cf;
  font-size: 1.2rem;
}

.Search-btn {
 
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.Close {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Gr {
  font-size: 1.2rem;
  display: none;
}

.show {
  display: block;
}


.box:focus-within{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px 6px #c0d9ff;
  outline: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.maginbottom{
 margin-bottom: 10rem;


} */




.box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 15px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  height: 50px;
  align-items: center;
  gap: 0 5px;
  padding: 0 0.5rem;
  margin-bottom:2rem ;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.Search-cont{
  margin-bottom: 0.1rem;
}

.search {
  height: 100%;
  border: none;
  font-size: 20px;
  outline: none;
  width: 100%;
  margin-left: 14px;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: white;
}

.Bs {
  fill: #4319cf;
  font-size: 1.2rem;
}

.Search-btn {
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.Close {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Gr {
  font-size: 1.2rem;
  display: none;
}

.show {
  display: block;
}


.box:focus-within{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px 6px #c0d9ff;
  outline: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}






